.slider{
    background-color: #2d3647;
    height: 40px;
    border: 2px solid var(--red);
    border-radius: 20px;
}

.thumb{
    background-color: var(--red);
    cursor: pointer;
    width: 12%;
    height: 100%;
    border-radius: 20px;
}

.thumb:hover{
    background-color: #e44848;
}

.slider.green{
    border: 2px solid var(--green);
}

.slider.green .thumb{
    background-color: var(--green);
}

.slider.green .thumb:hover{
    background-color: #42d67d;
}
